<h1>Hello, <%= @user.name %></h1>
  <p>
    You have requested a reminder for your class,
    
    you have signed up for <%=@user.klasses.find(2).name%> on <%=@user.klasses.find(2).scheduled_time%>. <br>
  </p>
<p>Can't wait to see you!</p>