<h1>Class List</h1>

<% @klass.each do |klass| %>
	<li><%=link_to klass.name, klass_path(klass) %></li>
<% end %>
<br>
<%if current_user.instructor%>
<%= button_to "Create Class", '/klasses/new' , method: :get%>
<%end%>
<br>
<%= button_to "Home", '/welcome', method: :get%>